# deps
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build artifacts
dist
build
.next
out
.turbo
.cache
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# editor / os
.DS_Store
*.log
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.idea

# coverage
coverage
*.lcov

# bun
bun.lockb
